
p{
    border: solid 2px  green;
    text-indent: 2 px;
    padding-left: 10px;
    padding: 5px;
    font-style: italic;
}
article{
    display: inline-block;
}
header{
    border: solid  2px;
    background-color:green;
    height: 230px;
}
h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    color: black; 
    font-size: 50px;
}
img{
    display: inline-block;
    border: solid 2px black;
    border-radius: 12px; 
    margin: 5px;
    padding: 5px;    
    text-align: center;
    position: relative;
    width: 200px;
    height: 200px;

}
img:hover{
    filter: brightness(60%);
}
.sidebar {
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: green;
    position: relative;
    height: 100%;
    overflow: auto;
    text-align: center;
}
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    position: relative;
}

}
@media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
}
@media screen and (max-width: 700px) {
    .sidebar a{
        text-align: center;
        float: none;
    }
}

ul{
     flex-direction: column;
 }
li{
     padding-left: 20px;
}
a{
     display: block;
 }
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    text-align: center;
    background-color: #DC143C;
   
}
.li{
    
    list-style-type: none;
    font-size: 25px; 
    color: black;
}

li a{
    text-align:center;
}
li a:hover{
    background-color:grey;
}
nav{
    display: flex;
    justify-content: flex-end;
    width:100%;
    background-color: green;
    border-right: solid 2px black;
}
ul{
    margin: 0%;
    padding: 0%;
    display: flex;
}
.label {
    margin-left: 20px;
    padding-left: 5mm;
}
.name {
background-color: black;
}
table, td, th {
    background-color: lightblue;
    margin: auto;
    padding: 10px;
    border: 3px solid black
    border-radius: 5px;
    width: 100%;
}
