body {
    padding-left: 20px;
    background-color:rgb(155, 45, 45);

}
p{
    border: solid 1px rgb(219, 92, 92);
    text-indent: 2em;
    padding-left: 10px;
    padding: 5px;
    font-style: italic;
}
article{
    display: inline-block;
}
header{
    border: solid  1px;
    background-color:rgb(219, 92, 92);
}
h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    color: black; 
}
img{
    display: inline-block;
    border: solid 1px black;
    border-radius: 12px; 
    margin: 5px;
    padding: 5px;    
    text-align: center;
    position: relative;
}
IMG:hover{
    filter: brightness(60%);
}
.sidebar {
    margin: 20px;
    padding: 0;
    width: 300px;
    background-color:rgb(219, 92, 92);
    position: relative;
    height: 100%;
    overflow: auto;
    text-align: center;
}
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}
div.content {
    margin-right: 200px;
    padding: 1px 16px;
    height: 1000px;
}
@media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}
@media screen and (max-width: 500px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
    ul{
        flex-direction: column;
    }
    li{
        padding-left: 20px;
    }
    a{
        display: block;
    }
}
footer{
    position: relative;
    background-color: whitesmoke;
    bottom: 10px;
    width: 100%;
    height: 150px;
    color: white;
    text-align: center;
}
li{
    list-style-type: none;
    margin: 14px;
    padding: 5px;
    font-size: 2em;
}
a{
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    color: black;
    font-family: monospace;
}
a:hover{
    background-color:grey;
}
nav{
    width:100%;
    background-color:rgb(219, 92, 92);
    border: solid 2px black;
}
ul{
    margin: 0%;
    padding: 0%;
    display: flex;
}
.label {
    margin-left: 20px;
    padding-left: 5mm;
}
.name {
background-color: black;
}
table {
    background-color: whitesmoke;
    border: solid 1px black;
    margin-left: 1px;
    margin-bottom: 25px;
    padding: 10px;
    border-radius: 5px;
}
td {
    border: solid 1px black;
    margin: 5px;
    padding: 5px;
    text-align: center;
}
th {
    border: solid 1px black;
    margin: 5px;
    padding: 5px;
    text-align: center;
}
.photoi {
    display: flex;
    flex-direction: row;
}