p{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
article{
    display: inline-block;
}
header{
    border: 1px;
    background-color: green;
    height: 100%;
}
h1{
    display: flex;
    flex-direction: row;
    justify-content: initial;
    align-content: flex-start;
}
.entete{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
#logo{
    display: inline-block;
    margin-left: 0%;
    margin-bottom: 0%;
}
/*A retravailler pour le responsive*/
IMG{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
}
/*La remonter et la fixer en haut, de façon que le menu déroulant se déroule vers le bas*/
.sidebar {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(143, 194, 143);
    position: relative;
    height: 100%;
    overflow: auto;
    border: solid black 2px;
    text-align: initial;
}
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    position: relative;
}
.sidebar a.active {
    background-color: green;
    color: white;
}
.home{
    background-color: green;
}
/*Retravailler le responsive*/
@media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
}
@media screen and (max-width: 700px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
    ul{
        flex-direction: column;
    }
    li{
        padding-left: 20px;
    }
    a{
        display: block;
    }
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6%;
    background-color: green;
    color: white;
    text-align: center;
}
li{
    list-style-type: none;
    margin: 0 2vw;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: black;
    padding: 3vw;
    font-family: Arial, Helvetica, sans-serif;
}
a:hover{
    color: white;
}
/*Retravailler le responsive car la navbar sort de la page quand elle est réduite*/
.navbar{
    display: flex;
    justify-content: flex-end;
    width: 33%;
}  
.facebook {
    background: #3B5998;
    color: white;
    padding: 1%;
}
.twitter {
    background: #55ACEE;
    color: white;
    padding: 1%;
}
  
.google {
    background: #dd4b39;
    color: white;
    padding: 1%;
}
  
.linkedin {
    background: #007bb5;
    color: white;
    padding: 1%;
}
  
.youtube {
    background: #bb0000;
    color: white;
    padding: 1%; 
}
body{
    background-color: rgb(187, 182, 182);
}
table{
    margin: auto;
}
/*sidebar*/
#menu {
    padding:0;
    margin:0;
    list-style:none;
    text-align: center;
    width: 180px;
}
#menu ul {
    padding:0;
    margin:0;
    list-style:none;
    text-align: center;
}
#menu li {
     background-color:#729EBF; 
     background-image:-webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
     background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
     border-radius: 6px;
     margin-bottom:2px;
     box-shadow: 3px 3px 3px #999;
     border:solid 1px #333A40
}
#menu li li {
     max-height:0;
     overflow: hidden;
     transition: all 1s;
     border-radius:0;
     background: #444;
     box-shadow: none;
     border:none;
     margin:0
}
#menu a {
    display:block;
    text-decoration: none;
    color: #fff;
    padding: 8px 0;
    font-family: verdana;
    font-size:1.2em
}
#menu ul li a, #menu li:hover li a {
    font-size:1em
}
#menu li:hover {
     background: #729EBF
}
#menu li li:hover {
     background: #999;
}
#menu ul li:last-child {
     border-radius: 0 0 6px 6px;
     border:none;
}
#menu li:hover li {
    max-height: 15em;
}
.image span {
	visibility: hidden;
}

.image img:hover + span {
	visibility: visible;
}
/*bordure des images*/
a img{
    border: 2px solid white;
    margin: 5px 5px 5px 5px;
    position: relative;
    display: inline-block;
    box-shadow: 1px 1px 3px 3px #999;
}
/*assombrissement des images*/
a img:hover{
    -webkit-filter: brightness(70%);
}


  