header{
    background-color: lightgoldenrodyellow;
   
}
.logo{
    background-color: green;
    width: 200px;
    height:150px;
   padding-right: 35px;

}

h1{
    font-size: 50px;
}


.formulaire{
    width: 150px 350px;
    padding: 15px;

}
.image{
    display: flex;
    flex-direction: column;
}
#t01{
    width: 100%;
}
table, th, td{
    border: 2px solid chocolate;
    border-collapse: collapse;
}
.p{
    color: brown;
    }
 a{
     color: brown;
     width: 200px;
     padding: 50px;
     
 }
a:hover{
    color: green;
}
body{

}
