header{
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgoldenrodyellow;
   height: 300px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height:150px;

}
.logo a{
    position: absolute;
    left: 0;
}


.formulaire{
    width: 150px ;
    padding: 15px;


}
.image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#t01{
    width: 100%;
    text-align: center;
}
table, th, td{
    border: 2px solid chocolate;
    border-collapse: collapse;
}
.p{
    color: brown;
    font-size: 25px
    }
nav{
        text-align: center;
        font-size: 25px;
    }
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
 a{
     color: brown;
     width: 200px;
     padding: 50px;

     
 }
a:hover{
    color: green;
}

body{

}
